@media (max-width: 600px) 
{
  header 
  {
    flex-wrap: wrap;
  }
}
@media (max-width: 650px) 
{
  .header-img
  {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
  h1
  {
     margin-top: 15px;
    width: 100%;
    position: relative;
  }
 }


@media (max-width: 650px)
{
 #header > img
 {
    margin: 0 auto;
  }
}
@media (max-width: 720px)
 {
 
 nav li 
 {
    padding-bottom: 5px;
  }
  h2
  {
    font-size: 6rem;
    
  }

  .Info
  {
    
    position:  relative;
    right: 170px;
    font-size: 2rem;
    
  }
  #design
  {
    display: block;
      margin:80px auto;
  position: relative;
     
    
  }
  
  #where
  {
     display: block;
      margin:80px auto;
  position: relative;
   
    
  }
  
}
@media (max-width: 650px) 
{
   nav 
   {
   
    width: 100%;
    display: flex;
  justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
  padding: auto;
    
    
  }
  
  .cardentrance
  {
    align-items: center;
  text-align: center;
    display: block;

  }
  #bottle
  {
    width: 250px;
 
  }
  h4
  {
    font-size: 1.6rem; 
    
  }
  h3
  {
    font-size: 4.4rem;
  }
  h2
  {
    font-size: 6.3rem;
    position: relative;
    left: 20px;
     }
  #login
  {
    
     position: relative;
    right: 60px;
  }
  
  #about
  {
    
     position: relative;
    right: 30px;
  }
}